html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
*,*::after,*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.6rem;
}
.container{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
}

/*Estilos header*/
.header{
    background-color: #2a9d8f;
}
.header__titulo{
    padding: 2rem;
    text-align: center;
    color: white;
}

/*Estilos nav*/
.nav{
    padding: 2rem 0;
}
.nav a{
    margin-right: 2rem;
}

