{% extends 'base.html' %}

{% block contenido %}
    <header class="header">
        <h1 class="header__titulo">Pagina de inicio</h1>
    </header>
    <main class="container">
        <h2>Selecciona el color de fondo</h2>
        <article class="botones">
            <button class="botones__boton botones__boton--rojo">ROJO</button>
            <button class="botones__boton botones__boton--verde">VERDE</button>
            <button class="botones__boton botones__boton--azul">AZUL</button>
        </article>
    </main>
{% endblock %}